.container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: white;

    h1 {
        font-size: 32px;
    }

    ul {
        display: flex;
        gap: 40px;
        list-style-type: none;
    }

    button {
        color: white;
        font-weight: bold;
        background-color: transparent;
        border-style: none;
    }
}