.container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
    color: white;
    margin: 0px 70px;
    font-size: 18px;

    h1 {
        font-size: 32px;
    }

    ul {
        display: flex;
        gap: 40px;
        list-style-type: none;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        color: white;
        font-weight: bold;
        background-color: transparent;
        border-style: none;
        font-size: 16px;
    }
}